<!DOCTYPE html>
<html lang="en">
{% include 'head.html'%}
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
{% include 'header.html'%}

<div class="card shadow-lg rounded-4 w-full max-w-md p-4">
    <div class="card-body">

        <h3 class="text-center fw-bold mb-4">📝 Create Account</h3>

        <!-- Alert -->
        <div id="alertBox" class="alert d-none"></div>

        <!-- Signup Form -->
        <form id="signupForm">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="name" id="name" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" id="email" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" id="password" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-success w-100">
                Sign Up
            </button>
        </form>

        <p class="text-center mt-3">
            Already have an account?
            <a href="/" class="text-blue-600 fw-semibold">Login</a>
        </p>

    </div>
</div>

<script>
$(document).ready(function () {

    $("#signupForm").submit(function (e) {
        e.preventDefault(); // stop page reload
        const name = $("#name").val();
        const email = $("#email").val();
        const password = $("#password").val();

        $.ajax({
            url: "/auth/register",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({
                name: name,
                email: email,
                password: password
            }),
            success: function (response) {
                $("#alertBox")
                    .removeClass("d-none alert-danger")
                    .addClass("alert-success")
                    .text("✅ Registration successful! Redirecting to login...");

                setTimeout(() => {
                    window.location.href = "/";
                }, 1500);
            },
            error: function (xhr) {
                $("#alertBox")
                    .removeClass("d-none alert-success")
                    .addClass("alert-danger")
                    .text(xhr.responseJSON.detail || "Registration failed");
            }
        });
    });

});
</script>

</body>
</html>
